<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Syndicate Bank - LAPS Page</title>
    <link rel="stylesheet" href="stylesheets/application.css"> 
</head>
<body>
    <!--
        TODO: 
        1. Style the CSS according to grid system, Animate the Elements
        2. Responsiveness and Mobile Compactibility
        3. Form Validations, etc
    -->
    <!--
        DONE: 
        1. Project setup, initalize Node server, express, and other dependencies 
        2. Setup the routing, SASS preprocessors, and Project File hirerachy
        3. Build the Basic Structure for the webpages
    -->

<div class="main-wrapper">
    <div class="nav-bar">
        <div class="logo-wrapper">
            <img src="assets/SVG-Icons/Syndicate_Bank.svg.png" alt="Syndicatebank-logo">   
        </div>
        <div class="nav-text">
            <ul class="nav-contents">
                <li class="item1">
                    New User
                </li>
                <li class="item2">
                    Existing User
                </li>
                <li class="item3">
                    Walk-in Customer
                </li>
                <li class="item1">
                    MSME E2E-Digitalization
                </li>
            </ul>
        </div>
    </div>
    <div class="text">
        <h1 class="heading">Select the Loan Application Type</h1>
        <h6 class="subheading">
        Syndicate Bank provides the best and reliable option for a perfect loan scheme.
        Client trust and feasibility is Syndicate banks mission
        </h6>
    </div>
    <div class="loan-types">
      <a href="signup"><div class="personal-loan">
            <img class="loan-icon" src="assets/SVG-Icons/Personal-Loan.svg" alt="Personal-loan">
            <h2 class="loan-title">Personal Loan</h2>
            <h3 class="loan-description">Syndicate Bank provides Personal Loans
                    for Marriages, Travel and much more
                    at an affordable interest rate</h3>
        </div></a>
        <a href="./signup"><div class="home-loan">
                <img class="loan-icon" src="assets/SVG-Icons/Home-Loan.svg" alt="Home-loan">
                <h2 class="loan-title">Home Loan</h2>
                <h3 class="loan-description">Syndicate Bank provides Home Loans for
                        your needs at an affordable interest rate</h3>
        </div></a>
        <a href="./signup"><div class="vehicle-loan">
                <img class="loan-icon" src="assets/SVG-Icons/Car-Loan.svg" alt="Vehicle-loan">
                <h2 class="loan-title">Vehicle Loan</h2>
                <h3 class="loan-description">Syndicate Bank provides Vehicle Loans for
                        your needs at an affordable interest rate</h3>
        </div></a>
        <a href="./signup"><div class="education-loan">
                <img class="loan-icon" src="assets/SVG-Icons/Education-Loan.svg" alt="Education-loan">
                <h2 class="loan-title">Education Loan</h2>
                <h3 class="loan-description">Choose from various education loans provided by Syndicate Bank</h3>
        </div></a>
    </div>
</div>
</body>
</html> 