<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Syndicate Bank: Loan Application Form</title>
</head>
<body>
    <!--
        TODO: 
        1. Style the CSS according to grid system, Animate the Elements
        2. Responsiveness and Mobile Compactibility
        3. Form Validations, etc
    -->
    <!--
        DONE: 
        1. Project setup, initalize Node server, express, and other dependencies 
        2. Setup the routing, SASS preprocessors, and Project File hirerachy
        3. Build the Basic Structure for the webpages
    -->

</body>
</html>